body {
  background: linear-gradient(to right, #ff6a88, #ff99ac);
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 120px;
}

h1 {
  color: white;
  font-size: 40px;
}

.buttons {
  margin-top: 40px;
}

button {
  font-size: 22px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
}

#yes {
  background: #00e676;
}

#no {
  background: #ff5252;
}
